.cardLegal[data-v-4f0b3a6d]{margin-top:5px;padding:10px 26px;border-radius:24px;background-color:#2d2e37;font-size:16px;color:#fff;width:100%;min-height:350px}a[data-v-4f0b3a6d]{color:#d6ff60;text-decoration:none}
