.userBar[data-v-b6de5263]{width:100%;background:#2d2e37;border-radius:32px;color:#fff;height:61px;font-size:22px}.level[data-v-b6de5263]{font-size:17px}.imgMaillot[data-v-b6de5263]{width:38px;height:38px;margin-left:8px}
